
/*Felles css for alle html'ene*/

/*Fonter importert fra google fonts*/
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

/*fonts*/
@font-face {
    font-family: "Booter - Zero Zero";
    src: url("Fonts/Booter - Zero Zero.woff") format("woff"),
         url("Fonts/Booter - Zero Zero.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: Raleway;
    color: black;
}

/*Overskriftene på hver html side. Pop-up shops, malerier, hvem er vi?*/
.section-header {
    font-family: "Metal Mania";
    font-weight: normal;
    color: #333;
    margin-bottom: 1.25em;
    text-align: center;
    font-size: 2.5rem;
}

/*Basics*/
html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

/*Bredden på content på HTML-sidene*/
.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}

.btn-header {
    margin: .5em 15% 2em 15%;
    color: white;
    border: 2px solid #2D9CDB;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 0;
    font-size: 1.5rem;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2rem;
}

.btn-header:hover {
    background-color: rgba(255, 255, 255, .3); 
}

/*Alle buttonsene*/
.btn-primary {
    color: white;
    background-color: rgb(0, 79, 139);
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

/*Hovering farge på alle buttone*/
.btn-primary:hover {
    background-color: #2D9CDB;
}


