/*Selve footeren*/
.main-footer {
    background-color: rgb(0, 79, 139);
    color: white;
    padding: .25em 0;
    margin-top: 20px;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
    padding-right: 400px;
}

/*Plassere SoMe elementene*/
.main-footer-container {
    display: flex;
    align-items: center;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
}

.footer-nav li {
    padding: 0 .5em;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
    border-radius: 5%;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

/*Størrelse på logoene*/
.footer-nav img {
    width: auto;
    height: 40px;
}


