
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

/*Oslo gateKunst Overskrift*/
.band-name-large {
    font-size: 5rem;
    padding-top: 0.3em;
    font-family: Fredoka One, cursive;
    color: rgb(0, 79, 139);
    transition: transform .2s;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.band-name{
    text-align: center;
    font-size: 3.6rem;
    font-weight: normal;
    color: rgb(0, 79, 139);
}

/*Hovering-effekt på Oslo gateKunst overskrift*/
.band-name:hover{
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/*Bakgrunn i headeren*/
.main-header {
    background-color: rgba(0, 0, 0, .6);
    background-image: url("../Images/gatekunst.jpg");
    background-position: center;
    background-blend-mode: multiply;
    background-size: cover;
    height: 15em;
    padding-bottom: 4.5625em;
}

/*(HJEM, BUTIKK, OM OSS) i header*/
.main-nav {
    text-align: center;
    font-size: 1.3rem;
    font-weight: lighter;
    padding: 0.5em;
    border-bottom: 1px solid rgba(255, 255, 255, .3)
}

/*Padding mellom (HJEM, BUTIKK, OM OSS) i header*/
.main-nav li {
    padding: 0 5%;
}

/*Hoveringen over (HJEM, BUTIKK, OM OSS)*/
.nav a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}