h1{
    position: absolute;
    background-color: #fff;
    color: black;
    width: 370px;
    text-align: center;
    padding: 10px;
    z-index: 3;
    opacity: .9;
    margin-left: 890px;
    margin-top: 70px;
    border-radius: 2%;
  
}

h2{
    position: absolute;
    background-color: #fff;
    color: black;
    width: 370px;
    text-align: center;
    padding: 10px;
    z-index: 3;
    opacity: .9;
    margin-left: 890px;
    margin-top: 127px;

}

h3{
    position: absolute;
    background-color: #fff;
    color: black;
    text-align: center;
    width: 350px;
    padding: 20px;
    z-index: 3;
    opacity: .9;
    margin-left: 890px;
    margin-top: 175px;
    border-radius: 2%;
    
}

video{
    position: relative;
    height: 800px;
}