
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

/*Oslo gateKunst Overskrift*/
.band-name-large {
    font-size: 5em;
    padding-top: 1.69rem;
    padding-bottom: 1.1rem;
    font-family: Fredoka One, cursive;
    color: rgb(0, 79, 139);
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.band-name {
    text-align: center;
    margin: 0;
    font-size: 4em;
    margin-top: 48px;
    font-weight: normal;
    color: rgb(0, 79, 139);
}

/*Bakgrunn i headeren*/
.main-header {
    background-color: rgba(0, 0, 0, .6);
    background-image: url("Images/gatekunst.jpg");
    background-position: center;
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 73px;
}

/*(HJEM, BUTIKK, OM OSS) i header*/
.main-nav {
    text-align: center;
    font-size: 1.3em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, .3)
}

/*Padding mellom (HJEM, BUTIKK, OM OSS) i header*/
.main-nav li {
    padding: 0 5%;
}

/*Hoveringen over (HJEM, BUTIKK, OM OSS)*/
.nav a:hover {
    background-color: rgba(255, 255, 255, .3)
}